		html, body, #map {
                 width: 100%;
                 height: calc(100% - 12px);
                 margin: 0;
                 padding: 0;
		}
		
		.pcarstooltip {
					
					border:			100px;
					corner:			10px;		
		}
        
	     #DSdata{
				position: 	absolute; 
				left: 		60%; 
				top: 		35px; 
				width: 		250px; 
				height: 	280px;
				border:		1;
				background:	lightgreen;
				padding:	5px;
				z-index:	11;
	     }
	     
	     .ui-jqgrid .ui-jqgrid-bdiv { 
			overflow-x: hidden; /*suspress x Scrollbar */
			 max-height: 80vh; /*defines value relativ to browser window size*/ 
		}

	     /*selected row of jqgrid tables*/
	     .ui-jqgrid .ui-state-highlight {
			background: #ffffcc;
			border: #b3b300;
	     }

	     #TrackList{
				position:       absolute;
                left:           1%;
                top:            63px;
                border:         1;
		text-align: 	center;
		z-index:	12;
	     }
	     #TrackList .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }
	     
	     #CarList{
				position:       absolute;
                left:           1%;
                top:            92px;
                border:         1;
		text-align: 	center;
		z-index:	13;
	     }
	     #CarList .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }

	     #DriverData{
				position:       absolute;
                left:           55%;
				top:			250px;
	     }
	     #DriverData .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }
		
	     #DriverDataArea{
				position:       absolute;
				left:           1%;
				top:            32px;
				background:	lightgrey;
				z-index:	14;
	     }
	    	         
	     #hide {
   				 display: none;
  		}

	     #Settings{
				position:       absolute;
                left:           75%;
                top:            25px;
                background:     lightgrey;
		z-index:	16;
	     }
	     
	     .mapoverlay{
	     		position:       absolute;
				top:            45px;
                left:           10px;
                right:			10px;                
                border-width: 			1px;
                border-style:			dashed;
                -webkit-border-radius: 	15px;
				-moz-border-radius: 	15px;
				border-radius: 			15px;
                width:			95%;
				height:			85%;
			                    
	     }
	     
		
	
		#DSRecStatistics{	     		
				display: 			table;
				background-color:	grey;
				opacity: 			0.95;
				/*margin: 			auto;*/
				position:       absolute;
				bottom:           10px;
                left:           10px;
                right:			10px;                
                border-width: 			1px;
                border-style:			dashed;
		z-index:	15;
                -webkit-border-radius: 	2px;
				-moz-border-radius: 	2px;
				border-radius: 			2px;
                		width:			660px;
				height:			40px;
				
	     }
		 .box{
		 	display: 		table-cell;		 	
			
			padding:		10px;
			border:			1px;
		 }
		 
		div.replay_row{
			display:	table-row;
			position:	center;					
		}
		div.replay_cell{
			display:table-row;		
		}
		 
	     
		#DSstatistic{	     		
	/*			background: 		hsla(50,80%,80%,0.8);							*/
				background:			#004040;
	/*			background-image:	url('../images/background/pcars_logo03.png');		*/
				background-size:	99%;
				background-repeat: 	no-repeat;
				background-position:center;	
				background-size:	contain;			
				opacity: 			1;
				margin: 			auto; 
				display: none;
	     }
	     
	     #DSreplay{
                background: 		hsla(350,70%,70%,0.8);
                background-image:	url('../images/background/pcars_logo01.jpg');
                background-size:	70%;
				background-repeat: 	no-repeat;
				background-position:center;
				background-size:	contain;                                
				opacity: 			0.5;
				margin: 			auto;
				display: none;
	     }
	     
		
		.stations, .stations svg {
			position: absolute;
			z-index:  50;
		}

		.stations svg {
			/*width: 10px;
			height: 20px;*/
			/*padding-right: 100px;*/ /* overflow: hidden not possible if padding-right is enabled*/					
			font: 10px sans-serif;						
		}

		.stations circle {
			fill: blue;
			stroke: black;
			stroke-width: 1.5px;
		}
             
		.tableoption {
			background:     lightgrey;
		}
		
		.pcars-force-hide {
			visibility:		hidden;
		}
		
		#RecFileUploader{
			background-color:	transparent;
		}
		
		//Test for jqgrid Cell background
		 .cvteste {
            background-color: green;
        }
        
        .pcars_jqgrid_caption_additionalinfo{
        	color: grey;
        	text-decoration: none;
        }
        
        #RefpointFiddling{
				position: 	absolute; 
				left: 		70%; 
				top: 		100px; 
				width: 		300px; 
				height: 	530px;
				border:		1;
				background:	green;
				color:		darkgrey;
				padding:	5px;
				z-index:	10;
        }
	.LiveryOverview{
                                position:       absolute;
                                left:           17%;
                                top:            30px;
                                width:          82%;
                                height:         90%;
                                border:         1;
                                background:     white;
                                color:          black;
                                padding:        5px;
				/*overflow-y:	auto;*/
	}

	.LiveryOverviewHead{
		font-size: 15px;
		font-weight: bold;
		padding: 3px;
        }

	#LiveryOverviewVehicle{
				display: none;
				z-index: 17;
	}

	#SpotterGuide{
                                display: none;
				z-index: 18;
        }

/* CSS GRid layout for recorder and replay elments */		
.pcars_grid_recorder_replay	{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 30% 45%;
  grid-auto-flow: row;
}

empty1 {
	background:white;
	grid-column-start:1;
	grid-column-end:1;
	grid-row-start:1;
	grid-row-end:1;
}

fastbackward {
	background:grey;
	grid-column-start:2;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:1;
}

stopplay {
	background:grey;
	grid-column-start:3;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:1;
}	

fastforward {
	background:grey;
	grid-column-start:4;
	grid-column-end:4;
	grid-row-start:1;
	grid-row-end:1;	
}

pcars_progressbar {
	background:grey;
	grid-column-start:1;
	grid-column-end:6;
	grid-row-start:2;
	grid-row-end:2;
}		
		
		
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* The switch END */	


.JBOXPCARSLV {
	fill: black;
	background:green;
}

.LiveryImageWrapper {
  position: absolute;
  top: 10%;
  right: 10%;
  display: none;
  z-index: 19;
  text-align: center;
}
.overlayLiveryImage {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  width: 300px;
}
.overlayLiveryImageText{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background: white;
  padding: 2px 3px;
}

.LiveryGridContainer {
	overflow-y: auto;
	height: 93%;
	margin-top: 5px;
}

.LiveryGrid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 4px;
  padding: 10px;
}

.LiveryGridItem {
  border: 2px solid rgba(0, 0, 0, 0.8);
  height: 145px;
  position:relative
}

.LiveryGridImage {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.LiveryGridImageCarTable {
  max-width: 285px;
  max-height: 125px;
}

.LiveryGridImageSpotterGuide {
  max-width: 275px;
  max-height: 115px;
}

.LiveryGridText{
  height: 14px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background: white;
  padding: 2px 3px;
}

.LiveryGridTextTopLeft{
  position: absolute;
  top: -0.5px;
  left: -0.5px;
}

.LiveryGridTextTopRight{
  position: absolute;
  top: -0.5px;
  right: 0px;
  font-size: 10px;
}

.LiveryGridTextBottomLeft{
  position: absolute;
  bottom: -0.5px;
  left: -0.5px;
  color: white;
  background-color: black;
  font-weight: bold;
}

.LiveryGridTextBottomRight{
  position: absolute;
  bottom: -0.5px;
  right: 0px;
  font-size: 10px;
  color: white;
  background-color: black;
}
