		html, body, #map {
                 width: 100%;
                 height: 100%;
                 margin: 0;
                 padding: 0;
		}
        
	     #DSdata{
				position: 	absolute; 
				left: 		55%; 
				top: 		0px; 
				width: 		300px; 
				height: 	200px;
				border:		1;
				background:	lightgreen;
	     }

	     #TrackList{
				position:       absolute;
                left:           5%;
                top:            30px;
                border:         1;
				text-align: 	center;
	     }
	     #TrackList .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }
	     
	     #CarList{
				position:       absolute;
                left:           5%;
                top:            60px;
                border:         1;
				text-align: 	center;
	     }
	     #CarList .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }

	     #DriverData{
				position:       absolute;
                left:           55%;
				top:			250px;
	     }
	     #DriverData .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }
		
	     #DriverDataArea{
				position:       absolute;
				left:           5%;
				top:            0px;
				background:	lightgrey
	     }
	    	         
	     #hide or unhide objects
	     starthidden {
   				 display: none;
  		}

	     #Settings{
				position:       absolute;
                left:           75%;
                top:            25px;
                background:     lightgrey
	     }
	     
	     .mapoverlay{
	     		position:       absolute;
				top:            45px;
                left:           10px;
                right:			10px;                
                border-width: 			1px;
                border-style:			dashed;
                -webkit-border-radius: 	30px;
				-moz-border-radius: 	30px;
				border-radius: 			30px;
                width:			95%;
				height:			85%;
			                    
	     }
	     
	     #DSstatistic{	     		
                background: 		hsla(50,80%,80%,0.8);
				background-image:	url('/pcars/images/background/pcars_logo03.png');
				background-size:	70%;
				background-repeat: 	no-repeat;
				background-position:center;	
				background-size:	contain;			
				opacity: 			0.5;
				margin: 			auto;	  	     
	     }
	     
	     #DSreplay{
                background: 		hsla(350,70%,70%,0.8);
                background-image:	url('/pcars/images/background/pcars_logo01.jpg');
                background-size:	70%;
				background-repeat: 	no-repeat;
				background-position:center;
				background-size:	contain;                                
				opacity: 			0.5;
				margin: 			auto;
	     }
	     

		
		.stations, .stations svg {
			position: absolute;
		}

		.stations svg {
			width: 60px;
			height: 20px;
			padding-right: 100px;
			font: 10px sans-serif;
		}

		.stations circle {
			fill: blue;
			stroke: black;
			stroke-width: 1.5px;
		}
             
		.tableoption {
			background:     lightgrey;
		}