		html, body, #map {
                 width: 100%;
                 height: calc(100% - 12px);
                 margin: 0;
                 padding: 0;
		}
		
		.pcarstooltip {
					
					border:			100px;
					corner:			10px;		
		}
        
	     #DSdata{
				position: 	absolute; 
				left: 		60%; 
				top: 		35px; 
				width: 		300px; 
				height: 	250px;
				border:		1;
				background:	lightgreen;
	     }
	     
	     .ui-jqgrid .ui-jqgrid-bdiv { 
			overflow-x: hidden; /*suspress x Scrollbar */
			 max-height: 80vh; /*defines value relativ to browser window size*/ 
		}

	     #TrackList{
				position:       absolute;
                left:           6%;
                top:            63px;
                border:         1;
				text-align: 	center;
	     }
	     #TrackList .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }
	     
	     #CarList{
				position:       absolute;
                left:           7%;
                top:            92px;
                border:         1;
				text-align: 	center;
	     }
	     #CarList .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }

	     #DriverData{
				position:       absolute;
                left:           55%;
				top:			250px;
	     }
	     #DriverData .ui-jqgrid-bdiv{
				max-height: 400px;
				overflow-x: hidden;
				word-wrap: break-word; /* IE 5.5+ and CSS3 */
    			white-space: pre-wrap; /* CSS3 */
    			white-space: -pre-wrap; /* Opera 4-6 */
    			white-space: -o-pre-wrap; /* Opera 7 */
    			white-space: normal !important;
		 }
		
	     #DriverDataArea{
				position:       absolute;
				left:           5%;
				top:            32px;
				background:	lightgrey
	     }
	    	         
	     #hide {
   				 display: none;
  		}

	     #Settings{
				position:       absolute;
                left:           75%;
                top:            25px;
                background:     lightgrey
	     }
	     
	     .mapoverlay{
	     		position:       absolute;
				top:            45px;
                left:           10px;
                right:			10px;                
                border-width: 			1px;
                border-style:			dashed;
                -webkit-border-radius: 	30px;
				-moz-border-radius: 	30px;
				border-radius: 			30px;
                width:			95%;
				height:			85%;
			                    
	     }
	     
		
	
		#DSRecStatistics{	     		
				display: 			table;
				background-color:	grey;
				opacity: 			0.95;
				margin: 			auto;
				position:       absolute;
				bottom:           10px;
                left:           10px;
                right:			10px;                
                border-width: 			1px;
                border-style:			dashed;
                -webkit-border-radius: 	2px;
				-moz-border-radius: 	2px;
				border-radius: 			2px;
                width:			95%;
				height:			40px;
				
	     }
		 .box{
		 	display: 		table-cell;		 	
			
			padding:		10px;
			border:			1px;
		 }
		 
		div.replay_row{
			display:	table-row;
			position:	center;					
		}
		div.replay_cell{
			display:table-row;		
		}
		 
	     
		#DSstatistic{	     		
	/*			background: 		hsla(50,80%,80%,0.8);							*/
				background:			lightgrey;
	/*			background-image:	url('../images/background/pcars_logo03.png');		*/
				background-size:	99%;
				background-repeat: 	no-repeat;
				background-position:center;	
				background-size:	contain;			
				opacity: 			1;
				margin: 			auto; 
	     }
	     
	     #DSreplay{
                background: 		hsla(350,70%,70%,0.8);
                background-image:	url('../images/background/pcars_logo01.jpg');
                background-size:	70%;
				background-repeat: 	no-repeat;
				background-position:center;
				background-size:	contain;                                
				opacity: 			0.5;
				margin: 			auto;
	     }
	     
		
		.stations, .stations svg {
			position: absolute;
			z-index:  50;
		}

		.stations svg {
			/*width: 10px;
			height: 20px;*/
			/*padding-right: 100px;*/ /* overflow: hidden not possible if padding-right is enabled*/					
			font: 10px sans-serif;						
		}

		.stations circle {
			fill: blue;
			stroke: black;
			stroke-width: 1.5px;
		}
             
		.tableoption {
			background:     lightgrey;
		}
		
		.pcars-force-hide {
			visibility:		hidden;
		}
		
		#RecFileUploader{
			background-color:	transparent;
		}
		
		//Test for jqgrid Cell background
		 .cvteste {
            background-color: green;
        }
        
        .pcars_jqgrid_caption_additionalinfo{
        	color: grey;
        	text-decoration: none;
        }

/* CSS GRid layout for recorder and replay elments */		
.pcars_grid_recorder_replay	{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 30% 45%;
  grid-auto-flow: row;
}

empty1 {
	background:white;
	grid-column-start:1;
	grid-column-end:1;
	grid-row-start:1;
	grid-row-end:1;
}

fastbackward {
	background:grey;
	grid-column-start:2;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:1;
}

stopplay {
	background:grey;
	grid-column-start:3;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:1;
}	

fastforward {
	background:grey;
	grid-column-start:4;
	grid-column-end:4;
	grid-row-start:1;
	grid-row-end:1;	
}

pcars_progressbar {
	background:grey;
	grid-column-start:1;
	grid-column-end:6;
	grid-row-start:2;
	grid-row-end:2;
}		
		
		
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* The switch END */	


.JBOXPCARSLV {
	fill: black;
	background:green;
}
